button {
  font-size: 25px;
  font-style: italic;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(43, 255, 0);
  border: 3px solid black;
  cursor: pointer;
}

button.restar {
  background-color: rgb(248, 0, 0);
}

.app {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
}

.app > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
